#editor-textarea {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.editor-wrapper {
  position: relative;
  display: flex;
}
.editor-area {
  position: relative;
  width: 100%;
  font-family: "aahub";
  font-size: 16px;
  line-height: 16px;
}
.drag {
  top: -17px;
  border: 1px solid #333;
  user-select: none;
}
